{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p style="margin-bottom: 0px;"><span class="govuk-!-font-weight-bold">Nadiya Kanaa</span>  |  BEIS<span style="float: right;"><a href="#" class="govuk-link">Sign out</a></span></p>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <!--
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Home</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Reports</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Activities</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Budgets</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Exports</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Organisations</a>
        </li>
      </ul>
    </div>
    -->

    <div class="govuk-grid-column-three-quarters">
      
      <span class="govuk-caption-l">Upload activity data</span>
      <h1 class="govuk-heading-l">Download and fill in template</h1>

      <p><a href="#" class="govuk-link">Download the ISPF ODA template</a></p>

      <p>Use the template to ensure your data is in the correct format.</p>

      <p>This CSV contains all the columns that can be used to create or update Level B activities.</p>

      <p>Edit it to add the values for the selected organisation's activities, then upload it through the form.</p>

      <a href="/upload/check" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Continue
      </a>

    </div>
{% endblock %}
