{% extends "layouts/main.html" %}

{% block pageTitle %}
  Report - approved
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p style="margin-bottom: 0px;"><span class="govuk-!-font-weight-bold">Nadiya Kanaa</span>  |  BEIS<span style="float: right;"><a href="#" class="govuk-link">Sign out</a></span></p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Empty activities</h1>

      <p class="govuk-body-l">5 empty activites. These must either be deleted or completed before a report can be submitted for approval</p>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Engaging Partners in Childbirth for Prevention</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete<span class="govuk-visually-hidden"> activity</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> activity</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date created
              </dt>
              <dd class="govuk-summary-list__value">
                9 January 2023
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Report 
              </dt>
              <dd class="govuk-summary-list__value">
                FQ3 2022-2023 Other ODA report
              </dd>
            </div>
          </dl>
        </div>
      </div> 

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Mechanisms of insulin resistance in South Asian</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete<span class="govuk-visually-hidden"> activity</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> activity</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date created
              </dt>
              <dd class="govuk-summary-list__value">
                9 January 2023
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Report 
              </dt>
              <dd class="govuk-summary-list__value">
                FQ3 2022-2023 Other ODA report
              </dd>
            </div>
          </dl>
        </div>
      </div> 

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Defining the metabolic phenotype</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete<span class="govuk-visually-hidden"> activity</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> activity</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date created
              </dt>
              <dd class="govuk-summary-list__value">
                9 January 2023
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Report 
              </dt>
              <dd class="govuk-summary-list__value">
                FQ3 2022-2023 Other ODA report
              </dd>
            </div>
          </dl>
        </div>
      </div> 

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Tackling cardiovascular risk in the adolescent</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete<span class="govuk-visually-hidden"> activity</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> activity</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date created
              </dt>
              <dd class="govuk-summary-list__value">
                9 January 2023
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Report 
              </dt>
              <dd class="govuk-summary-list__value">
                FQ3 2022-2023 Other ODA report
              </dd>
            </div>
          </dl>
        </div>
      </div> 

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Improving HIV testing and care</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete<span class="govuk-visually-hidden"> activity</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> activity</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date created
              </dt>
              <dd class="govuk-summary-list__value">
                9 January 2023
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Report 
              </dt>
              <dd class="govuk-summary-list__value">
                FQ3 2022-2023 Other ODA report
              </dd>
            </div>
          </dl>
        </div>
      </div> 

    </div>
  </div>

{% endblock %}
