{% extends "layouts/main.html" %}

{% block pageTitle %}
  Design ideas for RODA service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Design ideas for RODA service
    </h1>

    <p class="govuk-body-l">We agree as team (BEIS and dxw) every two-week sprint what ideas we'll prototype, test and then create in production live service.</p>

    <p class="govuk-body"><a href="https://github.com/dxw/roda-design-ideas">Code for these prototypes is on GitHub</a></p>

    <p class="govuk-body">
      Live service:
      <a class="govuk-link" href="https://report-official-development-assistance.service.gov.uk">report-official-development-assistance.service.gov.uk
      </a>
    </p>

  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" id="sprint-12">
    <span class="govuk-caption-xl">15-28 February</span>
    <h1 class="govuk-heading-xl">Sprint 12</h1>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Budget revision revised</h2>
    <p class="govuk-body">Edit budget links are added to the table in the original report layout.</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/sprint-12/report/activity">Activity page</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-12/report/revisions">Budget revision</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-12/report/change-budget-amount">Edit budget</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-12/report/confirm-budget-revision">Confirmation</a>
      </li>
    </ul>
    <h2 class="govuk-heading-m">Removing empty activities</h2>
    <p class="govuk-body">You can log on as a BEIS user and start the entire journey from activities page:</p>
    <a href="/sprint-12/activities/organisation-ams-beis" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Log in as a BEIS user<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"> <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/> </svg></a>

    <p class="govuk-body">Or use the following links to visit the individual pages as a BEIS user:</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/sprint-12/activities/organisation-ams-beis">Viewing an PO's activities</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-12/activities/activity-level-b-beis">Viewing a level B activity</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-12/activities/activity-level-c-beis">Viewing a level C activity</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-12/activities/delete-level-b-beis">Confirming to deleete a level B activity</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-12/activities/delete-level-c-beis">Confirming to deleete a level C activity</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-12/activities/organisation-ams-level-b-deleted-beis">Back to an PO's activities when a level B activity is deleted</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-12/activities/organisation-ams-level-c-deleted-beis">Back to an PO's activities when a level C activity is deleted</a>
      </li>
    </ul>

    <p class="govuk-body">Or use the following links to visit the individual pages as a PO user:</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/sprint-12/activities/activity-level-b-po">Viewing a level B activity</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-12/activities/activity-level-c-po">Viewing a level C activity</a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" id="sprint-11">
    <span class="govuk-caption-xl">1-14 February</span>
    <h1 class="govuk-heading-xl">Sprint 11</h1>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Upload activity data</h2>
    <p class="govuk-body">Simplify and clarify logic around zeroes and blanks for all uploads.</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/sprint-11/upload/oda-or-not">Select ODA or non-ODA</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-11/upload/download-template">Download template</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-11/upload/result-errors">Error messages</a>
      </li>
      <li>
        <a class="govuk-link" href="/sprint-11/upload/confirmation">Confirmation</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Reports and budget revisions</h2>
    <p class="govuk-body">Clearer layouts for reports and other key screens, so the service is more understandable to new users, to reduce the need for guidance and training</p>
    <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="/sprint-11/report/approved">Approved report</a>
    </li>
    <li>
      <a class="govuk-link" href="/sprint-11/report/active-current">Active / current report</a>
    </li>
    <li>
      <a class="govuk-link" href="/sprint-11/report/activity">Activity</a>
    </li>
    <li>
      <a class="govuk-link" href="/sprint-11/report/revisions">Budget revisions</a>
    </li>
    <li>
      <a class="govuk-link" href="/sprint-11/report/select-budget-to-edit">Edit budget</a>
    </li>
  </div>
</div>

{% endblock %}
